<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>池上研修リジョブ</title>
  </head>
  <body>
   案件ページだよ

  <br>



  タイトル：『<%= @job.title %>』<br>
  説明文　：<%= @job.description %><br>





  </body>
</html>
