<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    編集ページだよ

<br>
    <a href="delete">
      <button type="submit" name="job">削除</button>
    </a>

  </body>
</html>
