<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>クライアント新規登録画面</h1>

    <form action="new_edit" method="post">
      <input name="authenticity_token" type="hidden" value="1234" />
            タイトル：<input type="text" name="title" size="40">　<br>
            <br>
            説明文　：<input type="text" name="description" size="80">  <br>
            <br>
            <button type="submit" name="job">新規作成</button>

    </form>

  </body>
</html>
