<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ログイン画面</h1>


<br>


      <section class="box-pt1 p_50">
          <form class="login_form" action="authenticate" method="get">
            <input name="authenticity_token" type="hidden" value="1234">
              <div class="row row-mg mb_10">
                <div class="cols_5">
                  <input autofocus="autofocus" class="w-block" placeholder="野崎優子happyhappy2016" type="text" value="" name="name">
                </div>
                <div class="cols_5">
                  <input autocomplete="off" class="w-block" placeholder="パスワード" type="password" name="password">
                </div>
                <div class="cols_2">
                  <input type="submit" name="mypage" value="ログイン" class="btn btn--pt2 w-block">
                </div>
              </div>
              <p class="txt_size_12 t_right">
                <a href="/kaigo/mypage/password/new">パスワードを忘れた方はこちら<i class="icon-right-open"></i></a>
                <label>
                  <input name="user_frontend_user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" checked="checked" name="user_frontend_user[remember_me]" id="user_frontend_user_remember_me">次回から自動でログインする
                </label>
              </p>
      </form>  </section>
  </form>


<br>

<p> <a href="new_user">新規会員登録へ</a> </p>



  </body>
</html>
