<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    ログインする画面だよ
<br>
ユーザー名：<input type="text" size="30">　<br>
パスワード：<input type="text" size="30">  <br>
<br>
<button type="submit" name="mypage">ログイン</button>

  </body>
</html>
