<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @user.name %>さんのマイページ</h1>

        <form action="mypage?id=<%=@user.id%>" method="get">

<br>

        <h2>あなたの応募数：<%= @entry.count %></h2>


<br>

      <p> <a href="top">TOPへ</a> </p>

      <p> <a href="logout">ログアウト</a> </p>

  </body>
</html>
