<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>新規会員登録</h1>

    簡単30秒登録！
  <br>
  <br>
  <form action="new_user_through" method="post">
  <input name="authenticity_token" type="hidden" value="1234" />
    <table class="table table-set--pt1 table--thd-20 w-block txt_size_12">
        <colgroup>
          <col style="width:200px;">
        </colgroup>
        <tbody>
          <tr>
            <th>氏名<span class="label label--pt3 label--small">必須</span>
            </th>
            <td>
              <input class="form-control w-280px" placeholder="例）山田 咲子" type="text" name="name">
            </td>
          </tr>
          <tr>
            <th>年齢<span class="label label--pt3 label--small">必須</span>
            </th>
            <td>
              <input class="form-control w-280px" placeholder="例）20" type="text" name="age">
            </td>
          </tr>
          <tr>
            <th>パスワード<span class="label label--pt3 label--small">必須</span>
            </th>
            <td>
                <input class="form-control w-280px" placeholder="パスワード" type="password" name="password">
            </td>
          </tr>
          <tr>
          <tr>
            <th>性別<span class="label label--pt3 label--small">必須</span>
            </th>
            <td>
              <ul class="ul-inline ul-inline--mb_1e-3">
                  <li><label>
                    <input type="radio" value="男" name="sex">
                    男
                  </label></li>
                  <li><label>
                    <input type="radio" value="女" name="sex">
                    女
                  </label></li>
            </ul>
          </td>
        </tr>
        </td>
      </tr>
      </tbody>
    </table>
    <input type="checkbox" name="compliance"><a href="new_user">利用規約</a>に同意する
    <br>
    <button type="submit" name="new_user" class="btn btn--entry01 btn--pt3 btn--kantan w-240px">会員登録する！</button>
  </form>


  <br>


  <br>
  <br>


  </body>
</html>
